<div class="container-fluid">
  <!--<button type="button" ng-click="$ctrl.initMap()">Init Map</button>-->
  <!--<div id="map-canvas" style="height: 600px">-->

  </div>
      <!--Body content-->
      <div class="alarm-map" map-lazy-load="https://maps.google.com/maps/api/js"
           map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
        <ng-map center="[{{$ctrl.latitude}}, {{$ctrl.longitude}}]" zoom="18">
            <custom-control id="address-control" position="TOP_CENTER" index="2" class="" style="max-width: 50%;" elem-ready="$ctrl.getAddres($ctrl.latitude, $ctrl.longitude, true)">
                <div class="rounded-bottom" style="opacity: 0.7; background-color: {{$ctrl.backgroundColor}}">
                    <h6 id="upperTitle" class="text-lg-center px-2 pt-1" style="color: #FFFFFF;">Botón de Pánico Activado</h6>
                    <p class="px-2 pb-2" id="address-p" style="color: white; font-size: 14px"><i class="fa fa-spinner fa-spin"></i> cargando...</p>
                </div>
            </custom-control>

            <custom-control position="TOP_RIGHT" index="1" ng-if="$ctrl.alarmType == 100">
                <div class="mr-3 mt-3">
                    <button class="btn btn-danger" type="button" ng-click="$ctrl.alertC5()">
                        <i class="fa fa-exclamation"></i> Alert C5
                    </button>
                </div>
            </custom-control>
            <custom-control id="detail-control" position="BOTTOM_CENTER" index="2" class="rounded-top justify-content-center" style="opacity: 0.7; position: center;">
                <div class="p-1 rounded-top" style="color: #ffffff; background-color: {{$ctrl.backgroundColor}}">
                    <i class="fa fa-spinner fa-spin"></i> Loading ...
                </div>
            </custom-control>
            <!--<marker position="[{{$ctrl.latitude}}, {{$ctrl.longitude}}]" title="{{$ctrl.imei}}" icon="/img/car-marker48.png"></marker>-->
        </ng-map>
      </div>

<!--</div>-->
