<audio id="panicAlarmAudio">
    <source src="audio/panic-alarm.mp3">
</audio>
<audio id="speedAlarmAudio">
    <source src="audio/speed-alarm.mp3">
</audio>

<div class="container-fluid">

    <div class="modal fade" id="watchVideoModal" tabindex="-1" role="dialog" aria-labelledby="watchVideoModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Camara del veh&iacute;culo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--<div class="modal-body row">-->
                    <!--<video id="video1" class="video-js vjs-default-skin" width="540" height="360" controls preload="auto" >-->
                        <!--<source src="http://187.162.125.161:3009/hls/bb23/test.m3u8" type="application/x-mpegURL">-->
                    <!--</video>-->
                <!--</div>-->
                <img id="cameraImage" width="400" height="400" src="http://187.162.125.161:3009/cameras/cam1/camera.jpg" />
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" ng-click="$ctrl.generateSharedLink()">-->
                        <!--<i class="fa fa-check"></i> Generar-->
                    <!--</button>-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                    <!--<a id="modal-historical" target="_blank" href="" class="btn btn-primary"><i class="fa fa-road"> Watch historical</i></a>-->
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="createShareLink" tabindex="-1" role="dialog" aria-labelledby="createShareLink"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Compartir vehículos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body fow">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Fecha de expiración</label>
                            <input type="text" id="shareDate" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Vehículos a mostrar</label>
                            <select type="text" id="chosenDevices" class="form-control" multiple="true"></select>
                        </div>
                    </div>
                    <div class="col-lg-12 text-lg-center">
                        <span id="load-link" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Generando...</span>
                    </div>
                    <div id="show-link" class="col-lg-12" style="display: none;">
                        <label>La url ha sido generada, copiela utilizando el botón de copiar</label>
                        <div class="input-group">
                            <input id="shared-link" class="text-muted border p-1 form-control" readonly>
                            <div class="input-group-append">
                                <button id="copy-button" class="btn btn-primary" type="button"><i class="fa fa-copy"></i> Copiar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.generateSharedLink()">
                        <i class="fa fa-check"></i> Generar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                    <!--<a id="modal-historical" target="_blank" href="" class="btn btn-primary"><i class="fa fa-road"> Watch historical</i></a>-->
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="automaticWaitIntervalModal" tabindex="-1" role="dialog" aria-labelledby="automaticWaitInterval"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set how much time this device will stay visible on automatic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body fow">
                    <div class="col-4 offset-3">
                        <input type="number" id="automaticWaitInterval" value="{{$ctrl.automaticTime / 1000}}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.setIntervalToMarker()">
                        <i class="fa fa-check"></i> Set Time
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <!--<a id="modal-historical" target="_blank" href="" class="btn btn-primary"><i class="fa fa-road"> Watch historical</i></a>-->
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="fencesModal" tabindex="-1" role="dialog" aria-labelledby="deviceGeofencesModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose the geofences this device will be registered to</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body fow">
                    <div class="col-12">
                        <ul id="fence-list" class="list-group">
                            <li class="list-group-item" ng-repeat="fence in $ctrl.fences" fence-index="{{$index}}">{{fence.title}}
                                <div class="btn-group btn-group-sm btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary">
                                        <input class="enter-alarm" type="radio" name="options" id="enterAlarm" autocomplete="off"> Al entrar
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input class="exit-alarm" type="radio" name="options" id="exitAlarm" autocomplete="off"> Al salir
                                    </label>
                                    <button class="btn btn-sm btn-outline-dark clear-radios-button"><i class="fa fa-times"></i></button>
                                    <!--<button class="btn btn-sm btn-outline-primary">Al salir</button>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.setDevicesToFences()">
                        <i class="fa fa-check"></i> Aceptar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                    <!--<a id="modal-historical" target="_blank" href="" class="btn btn-primary"><i class="fa fa-road"> Watch historical</i></a>-->
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select date range</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button ng-click="$ctrl.historicalRangeClick('today')" class="btn btn-small btn-primary"><i
                            class="fa fa-calendar-check"></i> Today
                    </button>
                    <button ng-click="$ctrl.historicalRangeClick('yesterday')" class="btn btn-small btn-primary"
                            href=""><i class="fa fa-calendar"></i> Yesterday
                    </button>
                    <button id="historical-custom" class="btn btn-small btn-primary"
                            ng-click="$ctrl.historicalCustomClick()">
                        <i class="fa fa-road"></i> Custom
                    </button>

                    <input id="historical-dates" type="text" class="form-control mt-1" style="display: none;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <!--<a id="modal-historical" target="_blank" href="" class="btn btn-primary"><i class="fa fa-road"> Watch historical</i></a>-->
                </div>
            </div>
        </div>
    </div>


    <div id="device-menu-options" class="toolbar-icons hidden">
        <a data-toggle="modal" data-target="#myModal" href="">
            <i class="fa fa-road"></i>
        </a>
        <a href="" data-toggle="modal" data-target="#automaticWaitIntervalModal">
            <i class="fa fa-clock"></i>
        </a>
        <a href="" data-toggle="modal" data-target="#fencesModal">
            <i class="fa fa-ban"></i>
        </a>
        <a href="" data-toggle="modal" data-target="#createShareLink">
            <i class="fa fa-share-square"></i>
        </a>
        <a id="device-charts" href="/device/{{ ctrl.currentIdDevice }}/charts">
            <i class="fa fa-chart-line"></i>
        </a>
        <a href="" id="menu-device-camera" data-id="{{ ctrl.currentIdDevice }}" data-toggle="modal" data-target="#watchVideoModal" >
            <i class="fa fa-camera"></i>
        </a>
    </div>

    <!--<div id="beforeMap">-->
        <!--<h4>Probando esto</h4>-->
    <!--</div>-->
    <!--Body content-->
    <div id="map" class="index-map" map-lazy-load="https://maps.google.com/maps/api/js"
         map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
        <ng-map center="[{{$ctrl.initialLatitude}}, {{$ctrl.initialLongitude}}]" zoom="10">
            <custom-control id="address-control" position="TOP_CENTER" index="2" class="justify-content-center"
                            style="max-width: 50%;position: center; display: none;">
                <div class="rounded-bottom" style="opacity: 0.7;">
                    <p class="p-1 text-center" id="address-p" style="color: white; font-size: 14px"><i
                            class="fa fa-spinner fa-spin"></i> cargando...</p>
                </div>
            </custom-control>
            <custom-control id="toggle-automatic" position="LEFT" index="2" class="ml-3 mb-3">
                <button id='toggle-automatic-button' class="btn btn-secondary btn-small" ng-click="$ctrl.toggleAutomatic()">
                    <i class="fa fa-play-circle"></i>
                </button>
            </custom-control>
            <custom-control id="triguer-control" position="LEFT" index="2" class="ml-3 mb-3"
                            on-click="$ctrl.displayHideMenu()">
                <button id='trigger' class="btn btn-secondary btn-small">
                    <i class="fa fa-bars"></i></button>
            </custom-control>
            <custom-control id="right-menu" position="TOP_RIGHT" index="1">
                <div class="mr-3 mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" class="mr-3">
                        <!--<a class="dropdown-item" href="#!/login">Log out</a>-->
                        <a class="dropdown-item" ng-click="$ctrl.logOutOption()" style="cursor: pointer;">Log out</a>
                    </div>
                </div>
            </custom-control>
            <custom-control id="left-menu-control" position="LEFT" index="1">
                <div id="left-menu">
                    <div id="treeMenu" style="overflow-y: scroll; max-height: 850px">

                    </div>
                    <!--<ul class="list-group" style="overflow-y: scroll; max-height: 500px">-->
                        <!--<li class="list-group-item"><h6>Groups</h6></li>-->
                        <!--<ul class="list-group" ng-repeat="group in $ctrl.groups" id="{{group.group_id}}">-->
                            <!--<a class="text-muted" style="text-decoration: none;" data-toggle="collapse"-->
                               <!--href=".group-{{group.group_id}}">-->
                                <!--<li class="list-group-item"><h6>{{group.group_label}}</h6>-->
                                <!--</li>-->
                            <!--</a>-->
                            <!--<div class="collapse group-{{group.group_id}}">-->
                                <!--<li class="list-group-item " ng-repeat="device in group.devices"-->
                                    <!--id-device="{{device.id}}" imei="{{device.auth_device}}">-->
                                    <!--<span ng-click="$ctrl.markerOptionClick(device.auth_device, $event)"-->
                                          <!--style="cursor: pointer; width: 100%;">{{device.label}}</span>-->
                                    <!--<div class="btn-group dropright">-->
                                        <!--<button class="btn btn-outline-dark btn-sm dropdown-toggle p-0"-->
                                                <!--style="margin: 2px;" type="button" id="menu-{{device.id}}"-->
                                                <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                            <!--<i class="fa fa-cog"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                    <!--<div class="dropdown-menu p-0" style="min-width: 0px !important;">-->
                                        <!--<button class="btn btn-small dropdown-item p-1" data-toggle="modal"-->
                                                <!--data-target="#myModal" href="">-->
                                            <!--<i class="fa fa-road"></i>-->
                                        <!--</button>-->
                                        <!--<button class="btn btn-small dropdown-item p-1" href="#"-->
                                                <!--ng-click="$ctrl.markerOptionClick(device.auth_device, $event)">-->
                                            <!--<i class="fa fa-map-marker"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                    <!--<div data-toolbar="device-menu-options" id="{{device.id}}" class="float-right  mt-2 ml-2 test-toolbar" data-toolbar-style="dark">-->
                                    <!--<i class="fa fa-cog" style="font-size: 12px; cursor: pointer;"></i>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</div>-->
                        <!--</ul>-->
                    <!--</ul>-->
                </div>
            </custom-control>
            <custom-control id="detail-control" position="BOTTOM_CENTER" index="2"
                            class="rounded-top justify-content-center"
                            style="opacity: 0.7; position: center; display: none;">
                <div class="p-1 rounded-top" style="color: #ffffff;">

                </div>
            </custom-control>
            <custom-control id="fence-control" class="mt-1" position="TOP_LEFT">
                <button id="enableFenceEditionButton" type="button" class="btn btn-sm btn-secondary" ng-click="$ctrl.enableFenceEditionMode()"><i class="fa fa-ban"></i> Editar Geofences</button>
                <button type="button" style="display: none;" class="fence-edit-btn btn btn-sm btn-secondary" ng-click="$ctrl.updateFences()"><i class="fa fa-check"></i> Save</button>
                <button type="button" style="display: none;" class="fence-edit-btn btn btn-sm btn-secondary" ng-click="$ctrl.disableFenceEditionMode()"><i class="fa fa-times"></i> Cancel</button>
            </custom-control>
            <!--<custom-control id="test-control" position="TOP_LEFT" on-click="$ctrl.test()">-->
                <!--<button type="button" class="btn btn-sm btn-secondary">Test</button>-->
            <!--</custom-control>-->

            <drawing-manager id="fenceDrawer"
                    on-overlaycomplete="$ctrl.addFeatureToData()"
                    on-polygoncomplete="$ctrl.addFencePolygon()"
                    drawing-control-options="{position: 'CENTER_RIGHT',drawingModes:['polygon']}"
                    drawingControl="false"
                    drawingMode="null"
                    markerOptions="{icon:'www.example.com/icon'}"
                    polygonOptions="{fillColor: 'red', strokeWeight: 1, editable: true, draggable: true}",
            </drawing-manager>
            <!--<marker position="[{{$ctrl.coordinates[0].origin}}, {{$ctrl.coordinates[0].destination}}]" title="Begin"></marker>-->
            <!--<directions-->
            <!--draggable="false"-->
            <!--travel-mode="DRIVING"-->
            <!--origin="{{$ctrl.originLocation}}"-->
            <!--destination="{{$ctrl.destinationLocation}}"-->
            <!--waypoints="{{$ctrl.coordinates}}">-->
            <!--</directions>-->

            <!--<shape name="polyline"-->
            <!--path="{{$ctrl.coordinates}}"-->
            <!--geodesic="true"-->
            <!--stroke-color="#FF0000"-->
            <!--stroke-opacity="1.0"-->
            <!--stroke-weight="2">-->
            <!--</shape>-->

            <!--<directions-->
            <!--draggable="false"-->
            <!--travel-mode="DRIVING"-->
            <!--suppress-markers="true"-->
            <!--origin="19.26966,-99.57630222222222"-->
            <!--destination="19.2577,-99.57401777777778">-->
            <!--</directions>-->
            <!--<marker position="[19.2577, -99.57401777777778]" title="End"></marker>-->

            <!--<directions draggable="true" panel="directions-panel" travel-mode="DRIVING" waypoints="[{&quot;location&quot;:{&quot;lat&quot;:44.32384807250689,&quot;lng&quot;:-78.079833984375},&quot;stopover&quot;:true},{&quot;location&quot;:{&quot;lat&quot;:44.55916341529184,&quot;lng&quot;:-76.17919921875},&quot;stopover&quot;:true}]" origin="toronto" destination="ottawa">-->
            <!--</directions>-->

            <!--<directions-->
            <!--draggable="true"-->
            <!--panel="directions-panel"-->
            <!--travel-mode="DRIVING"-->
            <!--origin="1135 Karamea-Kohaihai Rd, Kahurangi National Park, Tasman"-->
            <!--destination="Pier St, Jackson Bay, West Coast, New Zeland">-->
            <!--</directions>-->

            <!--<marker id="{{device.idDevice}}" ng-repeat="device in $ctrl.devices" position="[{{device.peripheral_gps_data[0].lat}}, {{device.peripheral_gps_data[0].lng}}]" title="{{device.label}}" imei="{{device.auth_device}}"></marker>-->
            <!--<marker position="[19.454941666666667, -99.2195535]" title="hello"></marker>-->
            <!--<marker position="[40.72, -74.20]" title="marker" animation="Animation.DROP"></marker>-->
            <!--<marker position="[40.73, -74.19]" title="drag me" draggable="true"></marker>-->
            <!--<marker position="[40.74, -74.18]" title="how" animation="Animation.BOUNCE"></marker>-->
            <!--<marker position="[40.75, -74.17]" title="are"></marker>-->
            <!--<marker position="[40.76, -74.16]" title="you"-->
            <!--icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></marker>-->
            <!--<marker position="[40.77, -74.15]" title="from"></marker>-->
            <!--<marker position="[40.78, -74.14]" title="allen"></marker>-->

        </ng-map>
    </div>


</div>
<!--</div>-->
