#left-menu {
    display: none;
    opacity: 0.85;
}

body {
    padding: 0px;
}

device-list .container-fluid {
    padding: 0px;
}

.index-map {
    height: 100%;
}

div[ng-view]{
    height: 100%;
    min-height: 100%;
}

ng-map {width:100%; height:100%;position: absolute;}

/*ngmap {*/
    /*width: 100%;*/
/*}*/

/*.collapse {*/
    /*display: none !important;*/
/*}*/

/*.collapse.show {*/
    /*display: block !important;*/
/*}*/

.label-window .si-content-wrapper .si-content {
    overflow: hidden;
}

.label-window .si-content-wrapper {
    border-radius: 6px;
}

/*#treeMenu li.list-group-item {*/
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/
    /*padding-right: 5px;*/
    /*font-size: 13px;*/
/*}*/

#treeMenu li.node-selected {
    color: #fff !important;
}

/* styles for marker infowindow */

.label-345807109 div.si-content-wrapper {
    background-color: blue;
}

.vjs-time-tooltip {
    top: -4.4em !important;
}

.download-hidden {
    display: none !important;
}

/* styles for minimizing */

.min {
    width: 250px;
    height: 40px;
    overflow: hidden !important;
    padding: 0px !important;
    margin: 0px;

    float: left;
    position: static !important;
}

.min .modal-dialog, .min .modal-content {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.min .modal-header{
    height: 100%;
    width: 100%;
    border-bottom: 0px;
    /*margin: 0px !important;*/
    /*padding: 3px 10px 5px 5px !important;*/
}

.min .modal-body {
    margin-top: 25px;
}

.display-none {
    display: none;
}

/*button .fa{*/
    /*font-size: 16px;*/
    /*margin-left: 10px;*/
/*}*/

.min .fa{
    font-size: 14px;
}

.min .menuTab {
    display: none;
}

/*button:focus { outline: none; }*/

.minmaxCon {
    height: 40px;
    bottom: 2px;
    left: 1px;
    position: fixed;
    right: 1px;
    z-index: 7999;
}

.big-z-index {
    z-index: 8999 !important;
}

div.daterangepicker {
    z-index: 9999 !important;
}
/*.modal-header {*/
    /*padding:9px 15px;*/
/*}*/

#treeMenu li.list-group-item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    font-size: 13px;
}


/* styles for timebar */

/*.timeline-bar {*/
    /*height: 2px;*/
    /*width: 100%;*/
    /*background: #000;*/
    /*position: relative;*/
/*}*/

/*.steps-bar {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*cursor: pointer;*/
    /*display: table;*/
/*}*/

/*.step {*/
    /*!*float: left;*!*/
    /*width: 1.996%;*/
    /*margin-top: 29px;*/
    /*text-align: center;*/
    /*position: relative;*/
    /*display: table-cell;*/
/*}*/

/*.step:nth-child(10n+1) .step-border {*/
    /*height: 20px;*/
    /*width: 2px;*/
    /*background: #000;*/
    /*margin-top: -10px;*/
/*}*/
/*.step:first-child .step-border {*/
    /*height: 20px;*/
    /*width: 2px;*/
    /*background: #000;*/
    /*margin-top: -10px;*/
/*}*/
/*.step-border {*/
    /*height: 10px;*/
    /*width: 2px;*/
    /*background: #999;*/
    /*margin-left: 1.5%;*/
    /*display: block;*/
/*}*/

/*.time-instant {*/
    /*position: absolute;*/
    /*top: -30px;*/
    /*left: -17px;*/
/*}*/

.tool-container {
    z-index: 2000 !important;
}


.steps-bar {
    background-color: green;
}


.tooltip {
    z-index: 9999 !important;
}
